version: '3.9'
services:
  api-gateway:
    build: ./api-gateway
    ports: ['3000:3000']
    env_file: .env
    depends_on: [auth-service, reporting-service]

  auth-service:
    build: ./auth-service
    ports: ['8081:8081']
    env_file: .env
    depends_on: [postgres-auth]

  reporting-service:
    build: ./reporting-service
    ports: ['8082:8082']
    env_file: .env
    depends_on: [postgres-reporting, rabbitmq, redis, minio]

  postgres-auth:
    image: postgres:16
    environment:
      POSTGRES_USER: ${AUTH_DB_USER}
      POSTGRES_PASSWORD: ${AUTH_DB_PASS}
      POSTGRES_DB: ${AUTH_DB_NAME}
    ports: ['5433:5432']

  postgres-reporting:
    image: postgres:16
    environment:
      POSTGRES_USER: ${REPORT_DB_USER}
      POSTGRES_PASSWORD: ${REPORT_DB_PASS}
      POSTGRES_DB: ${REPORT_DB_NAME}
    ports: ['5434:5432']

  rabbitmq:
    image: rabbitmq:3-management
    environment:
      RABBITMQ_DEFAULT_USER: ${RABBITMQ_USER}
      RABBITMQ_DEFAULT_PASS: ${RABBITMQ_PASS}
    ports: ['5672:5672', '15672:15672']

  redis:
    image: redis:7
    ports: ['6379:6379']

  minio:
    image: minio/minio:latest
    command: server /data --console-address ':9001'
    environment:
      MINIO_ROOT_USER: ${MINIO_ROOT_USER}
      MINIO_ROOT_PASSWORD: ${MINIO_ROOT_PASSWORD}
    ports: ['9000:9000', '9001:9001']

  prometheus:
    image: prom/prometheus:latest
    volumes:
      - ./ops/prometheus.yml:/etc/prometheus/prometheus.yml:ro
    ports: ['9090:9090']

  grafana:
    image: grafana/grafana:latest
    ports: ['3001:3000']
    depends_on: [prometheus]
